* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32, 25, 25);
}

.flex-conteiner {
    display: flex;
    background-color: rgb(65, 52, 52);
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: stretch;
    height: 500px;
}

.flex-item {
    font-size: large;
    background-color: rgb(48, 48, 248);
    margin: 10px;
}

#two {
    background-color: rgb(60, 55, 77);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 200px;
}

#two .flex-item {
    width: 100%;
    background-color: rgb(207, 42, 42);
}

#three {
    background-color: rgb(50, 40, 54);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#three .flex-item {
    background-color: rgb(216, 127, 44);
}

#three .flex-item:nth-child(3) {
    font-size: 40px;
}

#four {
    background-color: rgb(61, 47, 53);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#four .flex-item {
    background-color: rgb(171, 74, 145);
}

#four .flex-item:nth-child(3) {
    font-size: 40px;
}
