* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32, 25, 25);
}


.flex-conteiner {
    display: flex;
    background-color: rgb(65, 52, 52);
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.flex-item {
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* flex-basis: 320px; */
    /* flex shortcut. RECOMMENDED USE!!!: */
    flex: 1 1 320px;
    background-color: rgb(48, 48, 248);
}

#one {
    margin-top: 0;
}

#one .flex-item {
    height: 200px;
}

#one .flex-item:nth-child(2) {
    flex: 2 1 320px;
    background-color: rgb(120, 12, 120);
}

#two {
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 200px;
    background-color: rgb(60, 55, 77);
}

#two .flex-item {
    flex: initial;
    width: 100%;
    background-color: rgb(207, 42, 42);
}

#two .flex-item:nth-child(1) {
    align-self: flex-end;
}

#two .flex-item:nth-child(2) {
    align-self: center;
}

#two .flex-item:nth-child(3) {
    align-self: stretch;
}

#two .flex-item:nth-child(4) {
    align-self: center;
}

#two .flex-item:nth-child(5) {
    align-self: flex-end;
}

#three {
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 200px;
    background-color: rgb(50, 40, 54);
}

#three .flex-item {
    flex: initial;
    width: 100%;
    background-color: rgb(216, 127, 44);
}

#three .flex-item:nth-child(5) {
    color: #b90084;
    order: 1;
}

#three .flex-item:nth-child(3) {
    color: #ce0700;
    order: 2;
}

#three .flex-item:nth-child(1) {
    color: #fff;
    order: 3;
}

#three .flex-item:nth-child(2) {
    color: #000000;
    order: 4;
}

#three .flex-item:nth-child(4) {
    color: #217400;
    order: 5;
}
